### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
Count = purchase_df["SN"].value_counts()
Count

player_count = pd.DataFrame({"Total Players": [len(Count)]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# # Number of Unique Items
Unique = len(purchase_df["Item Name"].unique())
Unique

# # Average purchase price

average = purchase_df["Price"].mean()
average

# # # Total Number of Purchases

total_purchases = len(purchase_df["Item Name"])
total_purchases

# # # Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

purchasing_analysis_df = pd.DataFrame({
                         "Unique Items" : [Unique],
                        "Avg Purchase Price": [average], 
                        "Total Purchase": [total_purchases], 
                        "Total Revenue": [total_revenue]})
purchasing_analysis_df

   Unique Items  Avg Purchase Price  Total Purchase  Total Revenue
0           179            3.050987             780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Percentage of Male Players
total_gender = purchase_df["Gender"].count()
male = purchase_df["Gender"].value_counts()["Male"]
male
gender_demographics = purchase_df.groupby(["Gender"])
# gender_demographics.sum()



# percent_male = "male"/"total_gender" * 100

# Percentage of Female Players
female = purchase_df["Gender"].value_counts()["Female"]
female
# percent_male = "male"/"total_gender" * 100

other = purchase_df["Gender"].value_counts()["Other / Non-Disclosed"]
other
# other_percent = "other"/"total_gender" * 100

gender_demographics = pd.dataframe({
                            "Gender": ["Male", "Female", "Other"],                      
                            "Gender Count": [male, female, other], 
                            "Percentage": [percent_male, percent_female, other], 
                            })
#printed demographics
# gender_demographics_df = gender_demographics.set_index("Gender")
# gender_demographics_df

AttributeError: module 'pandas' has no attribute 'dataframe'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Group gender
grouped_analysis = purchase_df.groupby(["Gender"])

# Purchase Count
purchases_by_gender = grouped_analysis["Purchase ID"].count()

# Average Purchase price
avgprice_by_gender = grouped_analysis['Price'].mean()

#Total Purchase Value
revenue_by_gender = grouped_analysis['Price'].sum()

# Average Purchase Total per person by gender

# rev_per_person = revenue_by_gender/purchases_by_gender
rev_per_person = revenue_by_gender/grouped_analysis
rev_per_person

# summary dataframe
# grouped_summary = pd.DataFrame({ "Purchase Count": purchases_by_gender,
#                                     "Average Purchase Price": avgprice_by_gender,
#                                     "Total Purchase Value": revenue_by_gender,
#                                      "Avg Total Purchase": rev_per_person
#                                    })

# grouped_summary

ValueError: operands could not be broadcast together with shapes (3,) (3,2)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [50]:
# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bin_df = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-40", "40+"]
pd.DataFrame()


#   Purchase Count
s
#   Average Purchase Price

#   Total Purchase Value

#   Average Purchase Total per Person by Age Group

NameError: name 's' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Purchase count by age group

agetotals = purchase_df.groupby("Age").count()["Purchase ID"]
agetotals

# #Average purchase price by age
ageavgpurch = purchase_df.group("Age").mean()["Price"]
ageavgpurch
         
# # Total Purchase Value by age
agevalue = purchase_df.group("Age").sum["Price"]
agevalue

# #Average purchase total per person by age
averagepurchase = spendingbygender/gender_df
         
# # summary dataframe
agepurchases_df = pd.DataFrame ({ "Purchase Count": agetotals,
                                    "Average Purchase Price": ageavgpurch,
                                    "Total Purchase Value": agevalue,
                                     "Avg Total Purchase":averagepurchase
                                   })

agepurchases_df.style.format({ "Purchase Count": "${:.2f}”,
                                 "Average Purhcase Price":"${:.2f}”,
                                 "Total Purchase Value": "${:.2f}”,
                                 "Avg Total Purchases": "${:.2f}”
                                })

Age
7      9
8      8
9      6
10     9
11     7
12     6
13     4
14     2
15    35
16    30
17    22
18    26
19    23
20    99
21    62
22    70
23    67
24    67
25    59
26    14
27    10
28     5
29    13
30    35
31     7
32     8
33    14
34     9
35    14
36     5
37     7
38     9
39     6
40     6
41     2
42     1
43     1
44     2
45     1
Name: Purchase ID, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   SN
#   Purchase Count
purchase_count = purchase_df.groupby('SN').count()['Price']
#   Average Purchase Price
avg_price = purchase_df.groupby('SN').mean()['Price']
#   Total Purchase Value
total_value = purchase_df.groupby('SN').sum()['Price']

top_spenders = pd.DataFrame({'Purchase Count': purchase_count,
                            'Average Purchase Price': avg_price,
                            'Total Purchase Value': total_value
                            })
top_spenders[['Average Purchase Price', 'Total Purchase Value']] = top_spenders[['Average Purchase Price', 'Total Purchase Value']]
# .map("${:,.2f}".format)
top_spenders.sort_values(by = 'Purchase Count', ascending=False)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Iral74                     4                3.405000                 13.62
Idastidru52                4                3.862500                 15.45
Asur53                     3                2.480000                  7.44
Inguron55                  3                3.703333                 11.11
...                      ...                     ...                   ...
Hala31                     1                1.020000                  1.02
Haisurra41                 1                4.400000                  4.40
Hailaphos89                1                3.810000                  3.81
Haestyphos66               1                1.970000                  1.97
Iskosian40                 1                3.070000                  3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
# Identify the 5 most popular items by purchase count, then list (in a table):
#   Item ID
#   Item Name
item_group = purchase_df.groupby(['Item ID', 'Item Name'])

# # Purchase count
item_count = item_group['Item ID'].count()

# # Total Purchase Value
total_value = item_group['Price'].sum()

#   Item Price
item_price = item_group['Price']

most_popular = pd.DataFrame({'Purchase Count': item_count,
                            'Purchase Price': item_price,
                            'Total Purchase Value': total_value
                            })
most_popular[['Purchase Price', 'Total Purchase Value']] = most_popular[['Purchase Price', 'Total Purchase Value']]

most_popular.sort_values(['Purchase Count'], ascending = False).head()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/dtypes/cast.py:1223: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  v = np.array(v, copy=False)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/dtypes/cast.py:1615: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  subarr = np.array(values, dtype=dtype, copy=copy)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"((92, Final Critic), [4.88, 4.19, 4.88, 4.88, ...",59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,"((178, Oathbreaker, Last Hope of the Breaking ...",50.76
145,Fiery Glass Crusader,9,"((145, Fiery Glass Crusader), [4.58, 4.58, 4.5...",41.22
132,Persuasion,9,"((132, Persuasion), [3.19, 3.19, 3.19, 3.19, 3...",28.99
108,"Extraction, Quickblade Of Trembling Hands",9,"((108, Extraction, Quickblade Of Trembling Han...",31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
#   Item ID
#   Item Name
#   Purchase Count
profitable_group = purchase_df.groupby(['Item ID', 'Item Name', 'Price'])

# # Purchase count
profitable_item_count = profitable_group['Item ID'].count()

# # Total Purchase Value
profitable_total_value = profitable_group['Price'].sum()

#   Item Price
profitable_item_price = item_group['Price']

most_profitable = pd.DataFrame({'Purchase Count': profitable_item_count,
                            'Purchase Price': profitable_item_price,
                            'Total Purchase Value': profitable_total_value
                            })
most_profitable[['Purchase Price', 'Total Purchase Value']] = most_popular[['Purchase Price', 'Total Purchase Value']]

most_profitable.sort_values(['Purchase Count'], ascending = False).head()

ValueError: array length 179 does not match index length 183