### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
Count = purchase_df["SN"].value_counts()
Count

player_count = pd.DataFrame({"Total Players": [len(Count)]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
Unique = len(purchase_df["Item Name"].unique())
Unique

# Average purchase price

average = purchase_df["Price"].mean()
average

# Total Number of Purchases

total_purchases = purchase_df["Item Name"].value_counts()
total_purchases

# Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

purchasing_analysis_df = pd.DataFrame([Unique, average, total_purchases, total_revenue]: 
             columns = ["Total Players", "Avg Purchase Price", "Total Purchase", "Total Revenue"])
purchasing_analysis_df

SyntaxError: invalid syntax (<ipython-input-3-1611888b6572>, line 19)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Percentage of Male Players
total_gender = purchase_df["Gender"].count()
male = purchase_df["Gender"].value_counts()["Male"]
male
percent_male = "male"/"total_gender" * 100

# Percentage of Female Players
female = purchase_df["Gender"].value_counts()["Female"]
female
percent_male = "male"/"total_gender" * 100

other = purchase_df["Gender"].value_counts()["Other/Non-Disclosed"]
other
other_percent = "other"/"total_gender" * 100

gender_demographics = pd.dataframe({"Gender": ["Male", "Female", "Other"], 
                                    "Gender Count": [male, female, other], 
                                    "Percentage": [percent_male, percent_female, other], 
                                    columns="Gender", "Gender Count", "Percentage"})
#printed demographics
gender_demographics

SyntaxError: invalid syntax (<ipython-input-4-d6564e3c89e5>, line 19)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Purchase count by gender

totalpurchases = purchase_df.groupby("Gender").count()["Purchase ID"]
totalpurchase

#Average purchase price by gender
averagepurch = purchase_df.groupby("Gender").mean()["Price"]
averagepurch
         
# Total Purchase Value
totalpurch = purchase_df.groupby("Gender").sum["Price"]
totalpurch

#Average purchase total per person by gender
avgtotalpurch = spendingbygender/gender_df
         
# summary dataframe
genderpurchases_df = pd.DataFrame ({ "Purchase Count": totalpurchases,
                                    "Average Purchase Price": averagepurch,
                                    "Total Purchase Value": totalpurch,
                                     "Avg Total Purchase":avgtotalpurch
                                   })

genderpurchases_df.style.format({ "Purchase Count": "${:.2f}”,
                                 "Average Purhcase Price":"${:.2f}”,
                                 "Total Purchase Value": "${:.2f}”,
                                 "Avg Total Purchases": "${:.2f}”
                                })

SyntaxError: EOL while scanning string literal (<ipython-input-10-4195a3bc8463>, line 24)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bin = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+""]
bin_df = pd.Dataframe()      

#   Purchase Count
s
#   Average Purchase Price

#   Total Purchase Value

#   Average Purchase Total per Person by Age Group

SyntaxError: EOL while scanning string literal (<ipython-input-12-5fe48ba0ff24>, line 2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80