In [6]:
import csv
import pandas as pd

In [7]:
file = "Resources/purchase_data.csv"

In [9]:
purchase_df = pd.read_csv(file)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [39]:
#Player count
Count = purchase_df["SN"].value_counts()
Count
pd.DataFrame([count], columns = ["Total Players"])

NameError: name 'count' is not defined

In [24]:
# Number of Unique Items

Unique = len(purchase_df["Item Name"].unique())
Unique

179

In [21]:
# Average purchase price

average = purchase_df["Price"].mean()
average

3.050987179487176

In [25]:
# Total Number of Purchases

total_purchases = purchase_df["Item Name"].value_counts()
total_purchases

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
                                                ..
Undead Crusader                                  1
Gladiator's Glaive                               1
Riddle, Tribute of Ended Dreams                  1
Betrayer                                         1
Alpha, Reach of Ending Hope                      1
Name: Item Name, Length: 179, dtype: int64

In [27]:
# Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [38]:
# Percentage of Male Players
total_gender = purchase_df["Gender"].count()
male = purchase_df["Gender"].value_counts()["Male"]
male
percent_male = "male"/"total_gender" * 100

# Percentage of Female Players
female = purchase_df["Gender"].value_counts()["Female"]
female
percent_male = "male"/"total_gender" * 100

other = purchase_df["Gender"].value_counts()["Other/Non-Disclosed"]
other
other = "other"/"total_gender" * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'