### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [7]:
Count = purchase_df["SN"].value_counts()
Count

player_count = pd.DataFrame({"Total Players": [len(Count)]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# # Number of Unique Items
Unique = len(purchase_df["Item Name"].unique())
Unique

# # Average purchase price

average = purchase_df["Price"].mean()
average

# # # Total Number of Purchases

total_purchases = len(purchase_df["Item Name"])
total_purchases

# # # Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

purchasing_analysis_df = pd.DataFrame({
                         "Unique Items" : [Unique],
                        "Avg Purchase Price": [average], 
                        "Total Purchase": [total_purchases], 
                        "Total Revenue": [total_revenue]})
purchasing_analysis_df

   Unique Items  Avg Purchase Price  Total Purchase  Total Revenue
0           179            3.050987             780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# Percentage of Male Players
# total_gender = purchase_df["Gender"].count()
# male = purchase_df["Gender"].value_counts()["Male"]
# male
gender = purchase_df.groupby(["Gender"])
gender.sum()
# percent_male = "male"/"total_gender" * 100

# # Percentage of Female Players
# female = purchase_df["Gender"].value_counts()["Female"]
# female
# percent_male = "male"/"total_gender" * 100

# other = purchase_df["Gender"].value_counts()["Other / Non-Disclosed"]
# other
# other_percent = "other"/"total_gender" * 100

# gender_demographics = pd.dataframe({
#                             "Gender": ["Male", "Female", "Other"],                      
#                             "Gender Count": [male, female, other], 
#                             "Percentage": [percent_male, percent_female, other], 
#                             })
# #printed demographics
# gender_demographics_df = gender_demographics.set_index("Gender")
# gender_demographics_df

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Purchase count by gender

totalpurchases = purchase_df.groupby("Gender").count()["Purchase ID"]
totalpurchase

#Average purchase price by gender
averagepurch = purchase_df.groupby("Gender").mean()["Price"]
averagepurch
         
# Total Purchase Value
totalpurch = purchase_df.groupby("Gender").sum["Price"]
totalpurch

#Average purchase total per person by gender
avgtotalpurch = spendingbygender/gender_df
         
# summary dataframe
genderpurchases_df = pd.DataFrame ({ "Purchase Count": totalpurchases,
                                    "Average Purchase Price": averagepurch,
                                    "Total Purchase Value": totalpurch,
                                     "Avg Total Purchase":avgtotalpurch
                                   })

genderpurchases_df.style.format({ "Purchase Count": "${:.2f}”,
                                 "Average Purhcase Price":"${:.2f}”,
                                 "Total Purchase Value": "${:.2f}”,
                                 "Avg Total Purchases": "${:.2f}”
                                })
genderpurchaes_df

SyntaxError: EOL while scanning string literal (<ipython-input-3-79889499cd0d>, line 24)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bin_df = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-40", "40+"]
bin_df = pd.DataFrame(raw_data)
df

#   Purchase Count
s
#   Average Purchase Price

#   Total Purchase Value

#   Average Purchase Total per Person by Age Group

AttributeError: 'list' object has no attribute 'head'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
# Purchase count by age group

agetotals = purchase_df.groupby("Age").count()["Purchase ID"]
agetotals

#Average purchase price by age
ageavgpurch = purchase_df.group("Age").mean()["Price"]
ageavgpurch
         
# Total Purchase Value by age
agevalue = purchase_df.group("Age").sum["Price"]
agevalue

#Average purchase total per person by age
averagepurchase = spendingbygender/gender_df
         
# summary dataframe
agepurchases_df = pd.DataFrame ({ "Purchase Count": agetotals,
                                    "Average Purchase Price": ageavgpurch,
                                    "Total Purchase Value": agevalue,
                                     "Avg Total Purchase":averagepurchase
                                   })

agepurchases_df.style.format({ "Purchase Count": "${:.2f}”,
                                 "Average Purhcase Price":"${:.2f}”,
                                 "Total Purchase Value": "${:.2f}”,
                                 "Avg Total Purchases": "${:.2f}”
                                })

SyntaxError: EOL while scanning string literal (<ipython-input-36-ca09952a5e4b>, line 24)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   SN
#   Purchase Count
#   Average Purchase Price
#   Total Purchase Value

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Identify the 5 most popular items by purchase count, then list (in a table):
#   Item ID
#   Item Name
#   Purchase Count
#   Item Price
#   Total Purchase Value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
#   Item ID
#   Item Name
#   Purchase Count
#   Item Price
#   Total Purchase Value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80